<ion-view view-title="Inicio">
    <ion-content>
        <div style="height: 170px;
        text-align: center;
        padding: 30px 10px;
        background: linear-gradient(to top, #30e0eb 0%, #00a7b2 100%);
        border-radius: 30px;
        margin-top: -30px;">
            <div class="raya"></div>
            <h1 style="color: white; font-size: 1.2rem !important;">¡Hola! <br> Bienvenido a Plusmed
            </h1>
            <div class="wrap-input100 validate-input m-b-10">
                <input ng-model="loginData.documento" class="input100 especial-main ng-pristine ng-untouched ng-valid ng-not-empty" type="text" name="username" placeholder="Buscar un paciente" style="">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                <i style="font-size: 18px; margin-top: -5px;" class="fa fa-search"></i>
            </span>
            </div>
        </div>

        <div style="margin-top: 20px;">
            <div class="aspect-tab" ui-sref="menu.cambiarpass">
                <input class="aspect-input">
                <label class="aspect-label"></label>
                <div class="aspect-content card-main">
                    <div class="aspect-info">
                        <span class="aspect-name cuenta-main">Crear ficha clínica</span>
                    </div>
                </div>
            </div>
            <div class="aspect-tab" ui-sref="menu.cambiarpass">
                <input class="aspect-input">
                <label class="aspect-label"></label>
                <div class="aspect-content card-main">
                    <div class="aspect-info">
                        <span class="aspect-name cuenta-main">Reservar turno</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>