<ion-view view-title="Inicio">
    <ion-content>
        <div style="height: 200px;
            text-align: center;
            padding: 30px 10px;
            background: linear-gradient(to top, #30e0eb 0%, #05aeb9 100%);
            border-radius: 0px 0px 30px 30px;
            margin-top: -20px;">
            <div class=" raya "></div>
            <h1 style="color: white; font-size: 1.2rem !important; ">¡Hola, {{socio.nombre}}! <br> Bienvenido a Plusmed
            </h1>
            <div class="wrap-input100 validate-input m-b-10 ">
                <input ng-model="loginData.documento " class="input100 especial-main ng-pristine ng-untouched ng-valid ng-not-empty " type="text " name="username " placeholder="Buscar un paciente " style=" ">
                <span class="focus-input100 "></span>
                <span class="symbol-input100 ">
                <i style="font-size: 18px; margin-top: -5px; " class="fa fa-search "></i>
            </span>
            </div>
        </div>

        <div style="margin-top: 20px; ">
            <div class="aspect-tab " ui-sref="menu.nueva-ficha ">
                <input class="aspect-input ">
                <label class="aspect-label "></label>
                <div class="aspect-content card-main ">
                    <div class="aspect-info ">
                        <span class="aspect-name cuenta-main ">Crear ficha clínica</span>
                    </div>
                </div>
            </div>
            <div class="aspect-tab ">
                <input class="aspect-input ">
                <label class="aspect-label "></label>
                <div class="aspect-content card-main ">
                    <div class="aspect-info ">
                        <span class="aspect-name cuenta-main ">Reservar turno</span>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 30px ">
            <h4 style="margin-left: 15px ">Últimos servicios reservados</h4>
            <div style="display: flex; margin-left: 5px ">
                <div class="card-ultimos ">
                    <img class="img-card " src="img/prothesis.png " alt=" ">
                    <span>Prótesis</span>
                </div>
                <div class="card-ultimos ">
                    <img class="img-card " src="img/girl.png " alt=" ">
                    <span>Infantil</span>
                </div>
                <div class="card-ultimos ">
                    <img class="img-card " src="img/crutches.png " alt=" ">
                    <span>Fracturas</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>