<ion-view view-title="Seleccionar Servicio">
    <ion-content>
        <div>
            <div ng-show="servicios.length> 0" class="card card-extracto">
                <div ng-repeat="serv in servicios" class="card-cuenta-extracto">
                    <div class="row row-movimiento" style="padding: 0px;">
                        <div class="col col-extractos">
                            <h4 class="extracto-h4">Descripción: <b>{{serv.nombre}}</b></h4>
                            <h4 class="extracto-h4">Tipo producto: <b>{{serv.idProducto.idTipoProducto.descripcion}}</b></h4>
                            <h4 class="extracto-h4">Categoría: <b>{{serv.idProducto.idTipoProducto.idCategoria.descripcion}}</b></h4>
                        </div>
                        <div class="col col-2">
                            <button class="btn btn-light" ng-click="seleccionarServicio(serv)">
                                <i class="fas fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>