<ion-view view-title="Fichas">
    <ion-content>
        <div>
            <div style="display: flex;">
                <div style="margin-left: 5px; padding: 20px 10px">
                    <div class="accion-boton" ui-sref="menu.nueva-ficha">
                        <i class="fas fa-plus icon-accion"></i>
                        <span>Nuevo</span>
                    </div>
                </div>
                <div style="margin-left: 5px; padding: 20px 10px">
                    <div class="accion-boton" id="hideshow">
                        <i class="fas fa-filter icon-accion"></i>
                        <span>Filtrar</span>
                    </div>
                </div>
            </div>

            <div ng-show="fichas.length> 0" id="card-filtro" style="display: none" class="card card-extracto">
                <div class="card-cuenta-extracto animated fadeInDown" style="border: none">
                    <div class="row row-movimiento" style="padding: 0px; display: grid">
                        <div class="div-filtro">
                            <label for="nombre">Nombre</label>
                            <input class="input-filtro" ng-model="filtro.nombre" name="nombre" type="text">
                        </div>
                        <div class="div-filtro">
                            <label for="apellido">Apellido</label>
                            <input class="input-filtro" ng-model="filtro.apellido" name="apellido" type="text">
                        </div>
                        <button ng-click="filtrar()" class="btn button-credit">Filtrar</button>
                        <button style="margin-top: 10px" ng-click="obtenerFichas()" class="btn btn-light">Limpiar</button>
                    </div>
                </div>
            </div>
            <div ng-show="fichas.length> 0" class="card card-extracto">
                <div ng-repeat="pac in fichas" class="card-cuenta-extracto">
                    <div class="row row-movimiento" style="padding: 0px;">
                        <div class="col col-extractos">
                            <h4 class="extracto-h4">Motivo: <b>{{pac.motivoConsulta}}</b></h4>
                            <h4 class="extracto-h4">Diagnóstico: <b>{{pac.diagnostico}}</b></h4>
                            <h4 class="extracto-h4">Observación: <b>{{pac.observacion}}</b></h4>
                        </div>
                        <div class="col col-2">
                            <button class="btn btn-light" ng-click="verDetalles(pac)">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </ion-content>
</ion-view>