<ion-view view-title="Reservas">
    <ion-content>
        <div>
            <div style="display: flex;">
                <div style="margin-left: 5px; padding: 20px 10px">
                    <div class="accion-boton" ui-sref="menu.nuevo-turno">
                        <i class="fas fa-plus icon-accion"></i>
                        <span>Nuevo</span>
                    </div>
                </div>
                <div style="margin-left: 5px; padding: 20px 10px">
                    <div class="accion-boton" id="hideshowTurnos">
                        <i class="fas fa-filter icon-accion"></i>
                        <span>Filtrar</span>
                    </div>
                </div>
            </div>

            <div ng-show="reservas.length> 0" id="card-filtroTurnos" style="display: none" class="card card-extracto">
                <div class="card-cuenta-extracto animated fadeInDown" style="border: none">
                    <div class="row row-movimiento" style="padding: 0px; display: grid">
                        <div class="div-filtro">
                            <button style="margin-top: 10px" ng-click="porCliente()" class="btn button-credit">Por paciente</button>
                            <button style="margin-top: 10px" ng-click="porFisio()" class="btn button-credit">Por fisioterapeuta</button>
                            <button style="margin-top: 10px" ng-click="abrirModal()" class="btn button-credit">Por fecha</button>
                        </div>
                        <button style="margin-top: 10px" ng-click="obtenerReservas()" class="btn btn-light">Limpiar</button>
                    </div>
                </div>
            </div>
            <div ng-show="reservas.length> 0" class="card card-extracto">
                <div ng-repeat="res in reservas" class="card-cuenta-extracto">
                    <div class="row row-movimiento" style="padding: 0px;">
                        <div class="col col-extractos">
                            <h4 class="extracto-h4">Fecha de Reserva: <b>{{res.fecha}}</b></h4>
                            <h4 class="extracto-h4">Hora de Inicio: <b>{{res.horaInicio}}</b></h4>
                            <h4 class="extracto-h4">Hora de Fin: <b>{{res.horaFin}}</b></h4>
                            <h4 class="extracto-h4">Paciente: <b>{{res.idCliente.nombre}} {{res.idCliente.apellido}}</b></h4>
                            <h4 class="extracto-h4">Fisioterapeuta: <b>{{res.idEmpleado.nombre}} {{res.idEmpleado.apellido}}</b></h4>
                        </div>
                        <div class="col col-2">
                            <button class="btn btn-light" ng-click="verDetalles(res)">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="reservas.length ==  0" class="card card-extracto">
                <h5>No se encontraron registros</h5>
                <button style="margin-top: 10px" ng-click="obtenerReservas()" class="btn btn-light">Obtener todas las reservas</button>
            </div>
        </div>
    </ion-content>
</ion-view>