.card-extracto {
    padding: 13px !important;
    border-top: 3px solid #09b2bd !important;
    margin: 10px !important;
    border: none;
    box-shadow: none !important;
}

.input-filtro {
    border-bottom: 1px solid lightgray !important;
    width: 100%;
}

.div-filtro {
    display: inline-block;
    margin-bottom: 15px;
}

.accion-boton {
    border-radius: 100%;
    background-image: linear-gradient(to top, #09b2bd 0%, #4cf4ff 99%, #77f3fb 100%);
    height: 70px;
    width: 70px;
    color: white;
    display: inline-grid;
    text-align: center;
}

.icon-accion {
    margin-top: 15px;
    margin-bottom: -15px;
}

.transition,
#cuenta-transition,
.extracto-ul .extracto-li i:before,
.extracto-ul .extracto-li i:after {
    /*transition: all 0.1s ease-in-out;*/
}

.flipIn,
.extracto-h1,
.extracto-ul .extracto-li {
    /*animation: flipdown 0.5s ease both;*/
}

.no-select,
.extracto-h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.extracto-h1,
.extracto-h2 {
    font-family: "Gudea", sans-serif !important;
}

.extracto-h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-weight: 100;
}

.scroll-bar-indicator {
    display: none !important;
    color: transparent !important;
}

.extracto-h2 {
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    display: block;
    background-color: #fefffa;
    margin: 0;
    cursor: pointer;
}

#cuenta-transition {
    position: relative;
    max-height: 400px;
    opacity: 1;
    /*transform: translate(0, 0);
    */
    margin-top: 10px;
    z-index: 2;
    overflow-y: scroll;
}

.extracto-ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}

.extracto-ul .extracto-li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
}

.extracto-ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.extracto-ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.extracto-ul li:nth-of-type(3) {
    animation-delay: 1s;
}

.extracto-ul li:last-of-type {
    padding-bottom: 0;
}

.extracto-ul .extracto-li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 10px;
    right: 0;
}

.extracto-ul .extracto-li i:before,
.extracto-ul .extracto-li i:after {
    content: "";
    position: absolute;
    background-color: grey;
    width: 3px;
    height: 9px;
}

.extracto-ul .extracto-li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.extracto-ul .extracto-li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.extracto-ul .extracto-li input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.extracto-ul .extracto-li input[type="checkbox"]:checked~#cuenta-transition {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    /*transform: translate(0, 50%);*/
}

.extracto-ul .extracto-li input[type="checkbox"]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.extracto-ul .extracto-li input[type="checkbox"]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        /*transform-origin: top center;
        transform: rotateX(-90deg);*/
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        /*transform-origin: top center;*/
        transform: rotateX(0deg);
    }
}

.card-cuenta-extracto {
    border-bottom: 1px solid lightgray;
    padding: 8px 0px;
}

.extracto-h4 {
    font-size: 16px;
    font-family: "Gudea", sans-serif !important;
}

.modal-backdrop-bg {
    background-color: rgba(39, 39, 39, 0.76) !important;
}

.modal-bordeado {
    border-radius: 20px !important;
}

.button-descargar {
    background-color: green;
    width: 150px;
    /*margin-left: 29%;*/
    color: white;
    margin-top: 31px;
    font-family: "Gudea", sans-serif !important;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
}

.button-descargar:hover {
    background-color: #006600 !important;
    border: none !important;
    color: white !important;
}

.button-descargar:active {
    background-color: #006600 !important;
    border: none !important;
    color: white !important;
}

.list-descargar h4 {
    font-family: "Gudea", sans-serif !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.col-extractos {
    width: 80% !important;
}

.input-fecha-extracto {
    display: inline-block !important;
    font-size: 17px !important;
    font-family: "Gudea", sans-serif;
    font-weight: 600 !important;
    margin-left: 10px !important;
    border: 1px solid lightgray !important;
    border-radius: 8px !important;
    width: 130px !important;
    background-color: transparent !important;
}